In [1]:
# Dependencies
import pandas as pd
import csv
from sqlalchemy import create_engine

In [2]:
#importing datasets
recovered = pd.read_csv('Resources/time_series_19-covid-Recovered.csv')
deaths = pd.read_csv('Resources/time_series_19-covid-Deaths.csv')
confirmed = pd.read_csv('Resources/time_series_19-covid-Confirmed.csv')

In [3]:
recovered.head()
recovered = recovered.drop(columns=['Lat', 'Long'])
df_recovered = pd.melt(recovered, id_vars=["Province/State", "Country/Region"])
df_recovered = df_recovered.rename(columns={"value": "Recovered Count", "variable": "Date"})
df_recovered.head()

  Province/State  Country/Region     Date  Recovered Count
0          Anhui  Mainland China  1/22/20                0
1        Beijing  Mainland China  1/22/20                0
2      Chongqing  Mainland China  1/22/20                0
3         Fujian  Mainland China  1/22/20                0
4          Gansu  Mainland China  1/22/20                0

In [4]:
deaths.head()
deaths = deaths.drop(columns=['Lat', 'Long'])
df_deaths = pd.melt(deaths, id_vars=["Province/State", "Country/Region"])
df_deaths = df_deaths.rename(columns={"value": "Deaths Count", "variable": "Date"})
df_deaths.head()

  Province/State  Country/Region     Date  Deaths Count
0          Anhui  Mainland China  1/22/20             0
1        Beijing  Mainland China  1/22/20             0
2      Chongqing  Mainland China  1/22/20             0
3         Fujian  Mainland China  1/22/20             0
4          Gansu  Mainland China  1/22/20             0

In [5]:
confirmed.head()
confirmed = confirmed.drop(columns=['Lat', 'Long'])
df_confirmed = pd.melt(confirmed, id_vars=["Province/State", "Country/Region"])
df_confirmed = df_confirmed.rename(columns={"value": "Confirmed Count", "variable": "Date"})
df_confirmed.head()

  Province/State  Country/Region     Date  Confirmed Count
0          Anhui  Mainland China  1/22/20                1
1        Beijing  Mainland China  1/22/20               14
2      Chongqing  Mainland China  1/22/20                6
3         Fujian  Mainland China  1/22/20                1
4          Gansu  Mainland China  1/22/20                0

In [6]:
df_combined = df_recovered.merge(df_deaths, on=("Province/State", "Country/Region", "Date"))
df_combined

,Province/State,Country/Region,Date,Recovered Count,Deaths Count
0,Anhui,Mainland China,1/22/20,0,0
1,Beijing,Mainland China,1/22/20,0,0
2,Chongqing,Mainland China,1/22/20,0,0
3,Fujian,Mainland China,1/22/20,0,0
4,Gansu,Mainland China,1/22/20,0,0
...,...,...,...,...,...
6337,"Berkeley, CA",US,3/3/20,0,0
6338,"Maricopa County, AZ",US,3/3/20,0,0
6339,"Wake County, NC",US,3/3/20,0,0
6340,"Westchester County, NY",US,3/3/20,0,0
6341,NaN,Ukraine,3/3/20,0,0

In [7]:
df_combined = df_combined.merge(df_confirmed, on=("Province/State", "Country/Region", "Date"))
df_combined

,Province/State,Country/Region,Date,Recovered Count,Deaths Count,Confirmed Count
0,Anhui,Mainland China,1/22/20,0,0,1
1,Beijing,Mainland China,1/22/20,0,0,14
2,Chongqing,Mainland China,1/22/20,0,0,6
3,Fujian,Mainland China,1/22/20,0,0,1
4,Gansu,Mainland China,1/22/20,0,0,0
...,...,...,...,...,...,...
6337,"Berkeley, CA",US,3/3/20,0,0,1
6338,"Maricopa County, AZ",US,3/3/20,0,0,1
6339,"Wake County, NC",US,3/3/20,0,0,1
6340,"Westchester County, NY",US,3/3/20,0,0,1
6341,NaN,Ukraine,3/3/20,0,0,1

In [9]:
rds_connection_string = "postgres:postgres@localhost:5432/corona_db"
engine = create_engine(f'postgresql://{rds_connection_string}')


df_combined.to_sql(name='corona_virus', con=engine, if_exists='append', index=False)